<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- TODO: Add active class to active links -->
<head>
	<!-- Bootstrap References -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" media="all"  
		href="../../static/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<nav class="navbar navbar-inverse" th:fragment="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">WebSiteName</a>
			</div>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="#">List of tests</a></li>
					<li sec:authorize="hasRole('USER')"><a href="#">My booked tests</a></li>
				</ul>

				<form th:action="@{/logout}" id="sign-out-form" method="post"></form>

				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="isAnonymous()" class="dropdown" id="menuLogin">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navLogin">
							<span class="glyphicon glyphicon-log-in"></span> Login
						</a>
						<div class="dropdown-menu" style="padding: 17px; width: 300px;">
							<div th:replace="fragments/login-form :: login-form"></div>
						</div>
					</li>
					<li sec:authorize="isAnonymous()"><a href="#" th:href="@{/signup}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/admin}"> Admin</a></li>
					<li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/edituserinfo}"><span class="glyphicon glyphicon-user"></span> Edit Personal Info</a></li>
					<li sec:authorize="isAuthenticated()">
						<a href="#" onclick="document.getElementById('sign-out-form').submit()">
							<span class="glyphicon glyphicon-log-out"></span> Sign Out
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
			<p>
<!-- 		Hello <span th:text="${#authentication.name}">User</span>! Welcome to -->
			Hello <span th:text="${#httpServletRequest.remoteUser}">User!</span> Welcome to the Spring MVC Quickstart application!<br/>
			Hello <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span> 
			<span  sec:authorize="isAnonymous()">Anon</span>
			<span  sec:authorize="isAuthenticated()">Auth</span>
		</p>
</body>
</html>

