<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Spring Security Example</title>
	<!-- Bootstrap References -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" media="all"  
		href="../../static/css/main.css" th:href="@{/css/main.css}" />	
</head>
<body>
	<div class="container">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<p th:if="${param.error}" class="form-error">Invalid username or password.</p>
			<div th:fragment="login-form">
				<form th:action="@{/login}" method="post" class="form-signin">
					<input class="form-control" placeholder="Email" type="text" name="username" autofocus="autofocus" />
					<input class="form-control" placeholder="Password" type="password" name="password" />
					<button type="submit" class="btn btn-success btn-block">Login</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
