<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>User registration form</title>
	<meta charset="utf-8" />
	<!--TODO: add password confirmation -->

	<!-- Bootstrap References -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" media="all"  
		href="../static/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h1 class="" th:inline="text">Edit user info form</h1>

		<form action="#" class="form-horizontal" th:action="@{/edituserinfo}" th:object="${user}" method="post">
			<div class="form-error" th:if="${#fields.hasErrors('*')}">
				<ul class="form-error" th:if="${#fields.hasErrors('*')}">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}">All form errors are displayed here</li>
				</ul>
			</div>

			<div th:replace="fragments/user-form :: user-form"></div>

			<div class="form-group">
				<label for="password" class="control-label"> Your new password (leave empty if you don't want to change it): </label>
				<input type="password" id="password" placeholder="New Password" class="col-sm-3 form-control" th:field="*{password}" />
				<span class="form-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error message goes here</span>
			</div>

			<div class="form-group">
				<label for="currentPassword" class="control-label"> Your current password: </label>
				<input type="password" id="currentPassword" name="currentPassword" placeholder="Current Password" class="col-sm-3 form-control"  required="required" />
				<p th:text="${error}" class="form-error">Password error message</p>
			</div>

			<div class="form-group" > 
				<div class="col-sm-offset-3 ">
					<button type="submit" class="btn btn-success btn-lg col-sm-3">Update user info</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
