<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>My tests</title>
	<!-- Bootstrap References -->
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" media="all"  
		href="../static/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h1 class="" th:inline="text">Booked tests</h1>

		<table id="mytests-table">
			<tr class="title">
				<th>Booking Date</th>
				<th>Test Date</th>
				<th>Test Center Name</th>
				<th>Test name</th>
				<th>Payed</th>
				<th></th>
			</tr>

			<tr th:each="test : ${tests}">
				<td th:text="${#dates.format(test.bookingDate, 'yyyy-MM-dd')}">2017-01-01</td>
				<td th:text="${#dates.format(test.testDate, 'yyyy-MM-dd HH:mm')}">2017-01-02 11:30</td>
				<td th:text="${test.center.name}">Test center</td>
				<td th:text="${test.test.name}">Name of test</td>
				<td th:text="${test.payed == 'Y'}? 'Yes' : 'No' "></td>
				<td>Edit</td>
			</tr>
		</table>
	</div>
</body>
</html>
